/* nav{
 background-color: black;

} */

.hero1{

    background-image: url("/—Pngtree—purple abstract gradient geometric low_1322507.png");
    background-size: cover;
    background-position: center;
}